[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

nltk = "*"
scikit-learn = "*"
tqdm = "*"
requests = "*"
torchvision = "*"
torchtext = "*"
ipykernel = "*"
jupyter = "*"
ipython = "*"


[dev-packages]



[requires]

python_version = "3.5"
