[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
nltk = "*"
spacy = "*"
jupyterlab = "*"
matplotlib = "*"
sklearn = "*"
torchtext = "*"
torchvision = "*"
isort = "*"
wandb = "*"
torchviz = "*"

[requires]
python_version = "3.6"
